:root {
  font-family: Arial, Helvetica, sans-serif;
  /* Brand Colours */
  --colour-primary: #0F4C81;
  --colour-primary-hover: #0B3A63;

  --colour-secondary: #008C95;
  --colour-secondary-hover: #006D75;

  --colour-accent: #2EAD62;

  /* Backgrounds */
  --colour-background: #F8FAFC;
  --colour-surface: #FFFFFF;

  /* Text */
  --colour-text-primary: #1F2937;
  --colour-text-secondary: #6B7280;
  --colour-text-light: #FFFFFF;

  /* Borders */
  --colour-border: #E5E7EB;

  /* State */
  --colour-success: #2EAD62;
  --colour-warning: #F59E0b;
  --colour-error: #DC2626;

  text-align: center;
}


.appContainer {
  width: min(900px, calc(100% - 2rem));
  margin: 2rem auto;
  padding: 2rem;
  background: var(--colour-background);
  border-radius: 10px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}

.appHeader {
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
  border-bottom: 5px solid var(--colour-primary);
  color: var(--colour-text-primary);
}

form {
  max-width: 600px;
  min-width: 400px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 1.25rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--colour-text-primary);
}

.formGroup input,
.formGroup select{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--colour-border);
  border-radius: 5px; 
}
.formGroup textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--colour-border);
  border-radius: 5px; 
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
}

.mileageMonetaryValue {
  padding: 0.75rem;
  color: var(--colour-text-light);
  background-color: var(--colour-secondary);
}

button {
  padding: 0.75rem 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  display: block;
  text-align: center;
  width: auto;
}

.primaryButton {
  background-color: var(--colour-primary);
  color: var(--colour-text-light);
  border: none;
}

.primaryButton.add {
  margin: 0 auto;
}

.primaryButton.navigation {
  margin-left: auto;
}

.primaryButton:hover {
  background-color: var(--colour-primary-hover);
}

.secondaryButton {
  background-color: var(--colour-surface);
  color: var(--colour-primary);
  border: 2px solid var(--colour-primary);
}

.secondaryButton.navigation {
  margin-right: auto;
}

.secondaryButton:hover {
  border-color: var(--colour-primary-hover);
  color: var(--colour-primary-hover);
}

.expensesList {
  display: grid;
  gap: 1rem;
  margin: 0.5rem
}

.expenseListItem {
  display:flex;
  justify-content: space-between;
  background-color: var(--colour-surface);
  padding: 0.5rem;
  border: 1px solid var(--colour-border);
  border-radius: 5px;
  text-align: left;
}

.expenseInfoRight {
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressionButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem
}

.claimTotal {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0.5rem 1.5rem 0.5rem;
  padding: 1.25rem;
  font-size: 1.5rem;
  background-color: var(--colour-surface);
  border-radius: 5px;
}

.approvalWarning {
  color: var(--colour-warning);
}